<?xml version="1.0" encoding="UTF-8"?>
<!-- Adapted from https://howtodoinjava.com/log4j2/log4j2-xml-configuration-example/ -->
<Configuration status="WARN" monitorInterval="30">
	<!-- Logging Properties -->
	<Properties>
		<Property name="LOG_PATTERN">%d{yy-MM-dd HH:mm:ss} [CORE] %-5p [%t]
			%c{2} - %m%n</Property>
		<Property name="APP_LOG_ROOT">/data/tomcat/logs/core-logs</Property>
	</Properties>

	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %m%n" />
		</Console>

		<!-- Rolling File Appender for Error -->
		<RollingFile name="errorLog"
			fileName="${APP_LOG_ROOT}/core-error.log"
			filePattern="${APP_LOG_ROOT}/core-error-%d{yyyy-MM-dd}.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>

	<Loggers>
<!-- 		<Logger name="com.mchange.v2.resourcepool.BasicResourcePool" level="debug" additivity="false"> -->
<!-- 			<AppenderRef ref="Console" /> -->
<!-- 		</Logger> -->
<!-- 		<Logger name="org.hibernate.engine.StatefulPersistenceContext.ProxyWarnLog" level="fatal" additivity="false"> -->
<!-- 			<AppenderRef ref="Console" /> -->
<!-- 		</Logger> -->
<!-- 		<Logger name="org.springframework.security" level="trace" additivity="false"> -->
<!-- 			<AppenderRef ref="Console" /> -->
<!-- 		</Logger> -->
		<!-- ROOT LOGGER -->
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>

</Configuration>